@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

:root{
  --nav-text:'Open Sans', sans-serif;
  --other-text:'Acme', sans-serif;
}


*,*::after,*::before{
  padding: 0;
  margin:0;
  box-sizing:border-box;

}

.header_top{
  background-color: #e8e4e1;
  color: #45046a;
  position: relative;
  font-family: var(--other-text);
}
.header_top p{
  margin: 0.2rem;
}
nav{
  font-family: var(--nav-text);
}
.nav_bg{
  background-color:#5c2a9d;
  box-shadow: 0 0 10px 2px rgba(0,0,0,1);
  position: sticky;
  top: 0;
  z-index: 1024;
}
.navbar .navbar-brand{
  font-weight: bold;
  font-size: 2rem;
  color: #fff!important;
}
.navbar .navbar-brand  .nav_icon{
  font-size: 4rem;
  font-weight: bold;
  color: #FF00FF;
  animation:rotate 1s alternate-reverse infinite;
}
@keyframes rotate{
  0%{
    transform: rotate(10deg) scale(0.7);
  }
  100%{
    transform: rotate(-10deg) scale(1);
  }
}
.navbar .navbar-nav .nav-link{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #fff!important;
}
.navbar .navbar-toggler{
  border:none;
  outline: none;
  font-weight: bold!important;
}
@media(max-width:786px){
  .navbar .navbar-brand  .nav_icon{
    display: none;
  }
}
.home{
  font-family: var(--other-text);
}
.home .first{
  margin-top:12rem;
}
.home .banner_img img{
  animation:updown 1.5s alternate infinite;
}
@keyframes updown{
  0%{
    transform:translateY(5px);
  }
  100%{
    transform:translateY(-5px);
  }
}
@media (max-width:786px){
  .home .first{
    margin-top:5rem;
    margin-bottom: 3rem;
  }
}
.login,.signup,.forgetpass{
  font-family: var(--other-text);
}
.html{
  font-family: var(--other-text);
}
.html li {
  margin-top:1.2rem;
}
.css{
  font-family: var(--other-text);
}
